@import 'https://fonts.googleapis.com/css?family=Raleway';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Dosis !important;
}

/* nav bar */

.container
{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  padding-top: 2em;
  padding-bottom: 2em;
  z-index: 5;
  transition: padding 0.2s ease-in-out;
}

.container a
{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin: 0px 15px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.transparent
{
  opacity: 0.95;
  background-color: transparent;
}

.circleBehind a:before, .circleBehind a:after
{
    position: absolute;
    top: 22px;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 4px solid burlywood;
    transform: translateX(-50%) translateY(-50%) scale(0.9);
    border-radius: 50%;
    background: transparent;
    content: "";
    opacity: 0;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

div.circleBehind a:after
{
    border-width: 2px;
    transition: all 0.4s ease-in-out;
}

div.circleBehind a:hover:before
{
    opacity: 1;
    transform: translateX(-50%) translateY(-55%) scale(1);
}

div.circleBehind a:hover:after
{
    opacity: 1;
    transform: translateX(-50%) translateY(-55%) scale(1.3);
}

div.circleBehind a:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}

#nav {
  padding-right: 20px;
}

/* nav bar ends */

/* banner */

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(../Pictures/landingPageTop.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.Top-content {
  position: absolute;
  font-family: Raleway;
  color: rgb(255, 255, 255);
  font-size: 25px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.scroll-down {
  position: absolute;
  bottom: 100px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 28px;
  height: 28px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* banner end */

/* scroll bar */

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  background: #1e2428;
}

body::-webkit-scrollbar-thumb {
  background: burlywood;
  border-radius: 20px;
}

/* scroll bar end */

/* Text Animation */

.text {
  display: flex;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: black;
  opacity: 0.7;
}
.text:hover {
  transform: rotateX(30deg), translateY(-50%);
}
.text:hover span {
  color: #ccc;
}
.text:hover span:nth-child(odd) {
  transform: skewY(15deg);
}
.text:hover span:nth-child(even) {
  transform: skewY(-15deg);
  background-color: #f9f9f9;
}

.text:hover span:nth-child(n+6):nth-child(-n+12) {
  color: black;
}

.text > span {
  display: block;
  background-color: #fff;
  width: 2em;
  height: 3em;
  line-height: 3em;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
}
.text > span:first-child {
  border-radius: 5px 0 0 5px;
}

/* text animation end */

.m-text {
  display: none;
}


/* footer */
.footer {
    position: relative;
    top:17em;
    background-color: rgb(0, 0, 0);
    height:400px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }
  
  .footer > * + * {
    flex-basis: 30%;
    margin-left: 1em;
  }
  
  .c1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    background-color: transparent;
    padding: 1em 1em;
  }
  
  .c1 h3::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 15%;
    left: 0;
    bottom: 0;
    background-color: burlywood;
  }
  
  .c2 h3 {
    position: relative;
    padding-bottom: 0.1em;
  }
  
  .c2 h3::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 15%;
    left: 0;
    bottom: 0;
    background-color: burlywood;
  }
  
  .c3 h3 {
    position: relative;
    padding-bottom: 0.1em;
  }
  
  .c3 h3::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 15%;
    left: 0;
    bottom: 0;
    background-color: burlywood;
  }
  
  
  .c1 h3 , .c1 p{
    color: white;
    position: relative;
    z-index: 1;
    padding-bottom: 0.1em;
  }
  
  .c1 p {
    margin-top: 1em;
    margin-left: 0.5em;
    color: burlywood;
  }
  
  .c2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    background-color: transparent;
    padding: 1em 1em;
  }
  
  .c2 h3 {
    margin-bottom: 0.5em;
    color: #fff;
  }
  
  .c2 ul {
    margin-left: 0.5em;
  }
  
  .c2 ul ul{
    display: flex;
    flex-direction: row;
    margin-top: 0.2em;
  }
  
  .c2 ul ul p {
    margin-top: 0.2em;
    margin-left: 0.2em;
    color: burlywood;
  }
  
  .c3 {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    background-color: transparent;
    padding: 1em 1em;
  }
  
  .c3 h3 {
    color: #fff;
    margin-bottom: 0.5em;
  }
  
  .c3 p {
    color: burlywood;
    margin-bottom: 0.2em;
    margin-left: 0.5em;
  }
  .social {
    background-color: transparent;
  }
  /* footer ends */
  
  .mobile-nav {
    display: none;
  }
  
  .nav {
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    .container {
      display: none;
    }
    .mobile-nav {
      display: flex;
    }
  
    .text {
      display: none;
    }
  
    /* mobile-text animation */
    .m-text {
      display: flex;
      justify-content: center;
      text-align: center;
      transition: transform 0.3s ease-in-out;
      color: black;
      opacity: 0.7;
      margin-top: 0.5em;
    }
  
    .m-text > span {
      display: block;
      background-color: #fff;
     width: 1.5em;
      height: 2em;
      line-height: 2em;
      transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
    }
    .m-text > span:first-child {
      border-radius: 1px 1px 1px 1px;
    }
    /* mobile-text animation ends */


  }
  
  @media screen and (max-width: 1000px) {
    .footer {
      position: relative;
      top:35em;
      background-color: gray;
      height:400px;
      width: 100%;
      z-index: 1;
    }
  }
  

@media screen and (min-width: 800px) and (max-width: 1500px) {
  /* product */

  .product .viewport{
    padding: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    background-color: rgba(248, 239, 239, 0.1);
    grid-template-rows: auto;
  }

  .product .viewport .card img {
    top: 0;
    height: 90%;
    transition: all 250ms ease;
  }

  .product .viewport .card {
    z-index: 1;
    position: relative;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: aqua; */
  } 

  .product .viewport .card > input{
    visibility: hidden; 
    position: absolute;
  }

  .product .viewport .card .backcard { 
    position: absolute;
    z-index: -1;
    height: 90%;
    width: 90%;
    transform: translateY(5%);
    background-color: #ffffff;
    transition: all 250ms ease;
    transform-origin: bottom;
  }
  
  .product .viewport .card:hover img{
    transform: scale(105%); 
  }

  .product .viewport .card .dummy {
    position: absolute;
    height: 35%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0);
    transition: all 400ms ease;
    transform-origin: bottom;
    bottom: 4%;

  }

  .product .viewport .card .name {
    position: absolute;
    height: 15%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0);
    transition: all 400ms ease;
    transform-origin: top;
    top: 4%;

  }


/* product ends */
}

@media screen and (max-width: 800px) {
  .product {
    margin-left: 20%;
    margin-right: 20%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product .viewport {
    width: fit-content;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow-x: scroll;
  }
  .product .viewport .card  {
    flex-shrink: 0;
    cursor: pointer;
    margin-right: 20%;
  }
  .product .viewport .card > input{
    visibility: hidden; 
    position: absolute;
  }
}

@media screen and (min-width: 1500px) {
  .product .viewport{
    padding: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    background-color: rgba(151, 148, 148, 0.1);
    grid-template-rows: auto;
  }

  .product .viewport .card img {
    top: 0;
    height: 90%;
    transition: all 250ms ease;
  }

  .product .viewport .card {
    z-index: 1;
    position: relative;
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background-color: aqua; */
  } 

  .product .viewport .card > input{
    visibility: hidden; 
    position: absolute;
  }

  .product .viewport .card .backcard { 
    position: absolute;
    z-index: -1;
    height: 90%;
    width: 70%;
    transform: translateY(5%);
    background-color: #ffffff;
    transition: all 250ms ease;
    transform-origin: bottom;
  }
  
  .product .viewport .card:hover img{
    transform: scale(115%); 
  }

  .product .viewport .card .dummy {
    position: absolute;
    height: 35%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0);
    transition: all 400ms ease;
    transform-origin: bottom;
    bottom: 4%;

  }

  .product .viewport .card .name {
    position: absolute;
    height: 15%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(0);
    transition: all 400ms ease;
    transform-origin: top;
    top: 4%;

  }

  .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    z-index: -1;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}

.expandedcard {
  height: 70vh;
  width: 70vw;
  position: fixed;
  z-index: 100;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}



.details {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
}

.details > img {
  height: 75%;
}

.negatecolor {
  z-index: 10000 !important;
  mix-blend-mode: difference;
}

/* gallery */
.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

/* .minwidth {
  max-width: 70%;
  position: absolute;
  display: flex;
  justify-content: center;
  left: 15%;
  margin-top: 2em;
} */

/* gallery ends */

@media screen and (max-width: 450px) {
  .gallery__column {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
}